<?xml version="1.0"?>
<opencv_storage>
<loadData>
  <downsample_flag>1</downsample_flag>
  <LeafSize>1.5</LeafSize>
  <filter_flag>1</filter_flag>
  <MeanK>80</MeanK>
  <StddevMulThresh>0.2</StddevMulThresh></loadData>

<board_width>7</board_width>
<board_height>8</board_height>
<square_length>20</square_length>
<square_height>20</square_height>
<cludenum>2</cludenum>

<horizontalScanNum>2</horizontalScanNum>
<verticalScanNum>2</verticalScanNum>
<risingDistance>1</risingDistance>

<HorizontalRegistrationModel>0</HorizontalRegistrationModel>
<VerticalRegistrationModel>0</VerticalRegistrationModel>
<Camera_ID>0</Camera_ID>
<KSearchnum>30</KSearchnum>
<MaxCorrespondenceDistance>0.5</MaxCorrespondenceDistance>
<LeafSize>0.5</LeafSize>
<TransformationEpsilon>1e-2</TransformationEpsilon>
<downsample_flag>1</downsample_flag>
<Cali_Pic_Num>3</Cali_Pic_Num>

</opencv_storage>