
cvStructuredLight/cvStructuredLight.sdf

cvStructuredLight/Debug/
cvStructuredLight/Release/
cvStructuredLight/ipch/
cvStructuredLight/cvStructuredLight/Debug/
cvStructuredLight/cvStructuredLight/output/
cvStructuredLight/cvStructuredLight/opencv_release.props
cvStructuredLight/cvStructuredLight/opencv2410_x86_debug.props

PointCloudRegistration/Debug/
PointCloudRegistration/Release/
PointCloudRegistration/ipch/
PointCloudRegistration/PointCloudRegistration.v12.suo
PointCloudRegistration/PointCloudRegistration/Debug/
PointCloudRegistration/PointCloudRegistration/result/
PointCloudRegistration/PointCloudRegistration/Calibration/
PointCloudRegistration/PointCloudRegistration/HorizontalResult/
PointCloudRegistration/PointCloudRegistration/OriginalPointCloud/


*.props
*.obj
*.pdb

PointCloudRegistration/PointCloudRegistration/PointCloudRegistration.vcxproj.filters
PointCloudRegistration/PointCloudRegistration/PointCloudRegistration.vcxproj.user
PointCloudRegistration/PointCloudRegistration.opensdf
PointCloudRegistration/PointCloudRegistration.sdf
PointCloudRegistration/PointCloudRegistration/PointCloudRegistration.vcxproj
*.ply
PointCloudRegistration/PointCloudRegistration/Release/PointCloudRegistration.pch
PointCloudRegistration/PointCloudRegistration/Release/PointCloudRegistration.log
